In [3]:
data=pd.read_csv(r"C:\Users\abrar\Desktop\projects\predict stock price\students_dataset.csv")
data.head()

   study_hours_student  student_marks  health_condition_rate_0_to_100
0                 7.00          80.00                            56.0
1                 6.59          77.00                            34.0
2                 7.23          78.68                            45.0
3                 5.67          71.82                            67.0
4                 8.67          84.19                            35.0